PORT=3000
SUPABASE_URL=https://eazjbbtvsrttliooqfjk.supabase.co
SUPABASE_KEY=sb_publishable_EDaSOmjlUSPJr3tV-AitFA_ybCubXlK
MQTT_HOST=fbae056b4d04427eb79a4f86a85ca7d7.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=SERGIO
MQTT_PASS=123456789